
html, body {
    margin: 0;
    padding: 0;
    a{
        text-decoration: none;
        color:black
    }
    button{
        border: 0;
        outline: none;
    }
    input{
        outline: none;
    }
    .flex{
        display: flex;
    }
    .mga{
        margin: auto;
    }
    .cl{
        color:#E8952F;
    }
    .flexWrap{
        display: flex;
        flex-wrap: wrap;
    }
    
    // font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}