$color : #E8952F;

.home{
    $boxShadow: 1px 2px 5px 0px rgb(107, 105, 105);
    
    .slick-dots {
            button {
                width: 2px;
                height: 2px;
                border-radius: 100%;
                background-color: rgb(109, 103, 103);
                text-indent: -9999px;
            }
            li.slick-active button {
                background-color: $color;
            }
    }
    .sliderTop{
        height:60vh;
        .slick-arrow{
            display: none !important;
        }
        .slideTopChild{
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width:100vw !important;
            height:60vh;
        }
        .slideOne{
            background-image: url(../../assets/images/index/bg01.jpg);
        }
        .slideTwo{
            background-image: url(../../assets/images/index/bg02.jpg);
        }
        .slideThree{
            background-image: url(../../assets/images/index/bg03.png);
        }
    } 
    .main{
        width:65%;
        margin: auto;
        .travelFavourite{
            
            .travelFavouriteChild{
                
                .sliderTravel{
                    p{
                        text-align: center;
                        font-weight: 600;
                    }
                    .slick-slide {
                        padding:0 2px;
                    }
                    .slick-slider {
                        .slick-arrow {
                            width: 50px;
                            height: 50px;
                            z-index: 1;
                            border-radius: 100%;
                            background-color: $color;
                            // text-indent: -9999px;
                            color: #E8952F;
                        }
                        li.slick-active button {
                            background-color: $color;
                        }
                    }
                    .slideChild{
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        height:30vh;
                        border-radius: 10px;
                    }
                    .slide1{
                        background-image: url(../../assets/images/home/travelFavorite/001.jpg);
                    }
                    .slide2{
                        background-image: url(../../assets/images/home/travelFavorite/002.jpg);
                    }
                    .slide3{
                        background-image: url(../../assets/images/home/travelFavorite/003.jpg);
                    }
                    .slide4{
                        background-image: url(../../assets/images/home/travelFavorite/004.jpg);
                    }
                    .slide5{
                        background-image: url(../../assets/images/home/travelFavorite/dalat.jpg);
                    }
                    .slide6{
                        background-image: url(../../assets/images/home/travelFavorite/danang.jpg);
                    }
                    .slide7{
                        background-image: url(../../assets/images/home/travelFavorite/nhatrang.jpg);
                    }
                    .slide8{
                        background-image: url(../../assets/images/home/travelFavorite/sapa.jpg);
                    }
                    .slide9{
                        background-image: url(../../assets/images/home/travelFavorite/trangan.jpg);
                    }
                    .slide10{
                        background-image: url(../../assets/images/home/travelFavorite/vinhhalong.jpg);
                    }
                    // .slide11{
                    //     background-image: url(../../assets/images/home/travelFavorite/);
                    // }
                    // .slide12{
                    //     background-image: url(../../assets/images/home/travelFavorite/);
                    // }
                }
            }
        }
        .discount{
            
            .slick-slide {
                padding:0 2px;
            }
            .slick-arrow{
                display: none;
            }
            .slideChild{
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                height:20vh;
                border-radius: 10px;

            }
            
            .slide1{
                background-image: url(../../assets/images/home/discount/001.webp);
            }
            .slide2{
                background-image: url(../../assets/images/home/discount/002.webp);
            }
            .slide3{
                background-image: url(../../assets/images/home/discount/003.webp);
            }
            .slide4{
                background-image: url(../../assets/images/home/discount/004.webp);
            }
            .slide5{
                background-image: url(../../assets/images/home/discount/005.webp);
            }
            .slide6{
                background-image: url(../../assets/images/home/discount/006.webp);
            }
            .slide7{
                background-image: url(../../assets/images/home/discount/007.webp);
            }
            .slide8{
                background-image: url(../../assets/images/home/discount/008.webp);
            }
            .slide9{
                background-image: url(../../assets/images/home/discount/009.webp);
            }
            .slide10{
                background-image: url(../../assets/images/home/discount/010.webp);
            }
            .slide11{
                background-image: url(../../assets/images/home/discount/011.webp);
            }
            
        }
        .Ecosystem{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            // color:white;
            .EcosystemChild{
                position: relative;
                height:160px;
                margin:0 5px;
                border-radius: 10px;
                box-shadow: $boxShadow;
                font-weight: 600;
                font-size: 20px;
                overflow: hidden;
                &:hover .img{
                    img{transform: scale(1.25);}
                    
                }
                p{
                    position: absolute;
                    top:110px;
                    left: 20px;
                    color: white;
                    z-index: 1;
                }
                .img{
                    
                    img{
                        width:100%;
                        height:160px;
                        transform: scale(1.1);
                        transition: .5s ease-in-out;
                        
                    }
                    
                }
                &::after{
                    content: ' ';
                    width:100%;
                    height:100%;
                    background-image: linear-gradient(rgba(255, 255, 255, 0.127),rgba(142, 142, 142, 0),rgba(33, 32, 32, 0.831));
                    position: absolute;
                    top:0;
                    left:0;
                    right:0;
                    
                }
            }
        }
        .populations{
            
            .content{
                section{
                    color:white;
                    a{
                        color:white;
                    }
                    .img{
                        width:836px;
                        height:400px;
                        overflow: hidden;
                        img{
                            width:100%;
                            transform: scale(1.1);
                            transition: .5s ease-in-out;
                            &:hover{
                                transform: scale(1);
                            }
                        }
                    }
                    display: flex;
                    flex-wrap: wrap;
                    .text{
                        font-family: 'Montserrat', sans-serif;
                        h1{
                            font-family: 'Kolker Brush', cursive;
                            font-size: 65px;
                        }
                        background-color: $color;
                        width:400px;
                        padding:65px 60px 0 50px;
                        text-align: left;
                        transition:background-color 1s ;
                        &:hover{
                            background-color: #107760;
                        }
                    }
                }
            }
            
            section:nth-child(1){
                .img{
                    width:418px;
                    img{
                        width:450px;
                        height:400px;
                    }
                }
                .text:hover{
                    background-color: #fe4b4b;
                }
            }
            section:nth-child(2){
                .text{
                    background-color: #07266d;
                    &:hover{
                        background-color: #07b0ba;
                    }
                }
            }
        }
        .travelGuide{
            .slick-slide {
                padding:0 5px;
            }
            .text-top{
                display: flex;
                justify-content: space-between;
                a{
                    color:#E8952F;
                }
            }
            section{
                p{
                    float: left;
                    margin:10px;
                    font-weight: 700;
                }
            }
            .img{
                height:25vh;
                overflow: hidden;
                border-radius: 10px;
                .slideChild{
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    width:100%;
                    height:25vh;
                    
                    transition: .5s ease-in-out;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
                .slide1{
                    background-image: url(../../assets/images/home/travelGuild/du-lich-phu-quoc_1659071956.JPG.webp);
                }
                .slide2{
                    background-image: url(../../assets/images/home/travelGuild/du-lich-nha-trang_1659071315.JPG.webp);
                }
                .slide3{
                    background-image: url(../../assets/images/home/travelGuild/du-lich-hoi-an_1659072375.JPG.webp);
                }
                .slide4{
                    background-image: url(../../assets/images/home/travelGuild/cau-rong-da-nang_1657938152.jpg.webp);
                }
            }
        }
    }
} 