
.navbar{
    background-color: rgba(246, 246, 246, 0);
    width:100%;
    position: fixed !important;
    top:0;
    z-index: 100;
    .logoBlack{
        display: none; 
    }
    .container{
        max-width: 100%;
        display: inline-flex;
        width:66.7%;
        margin: 0 auto;
        justify-content:space-around;
        .collapse{
            margin-left: 10%;
            display: flex;
            justify-content: space-between;
        }
        .nav-link{
            color:white;
            font-weight: 700;
            &:hover{
                border-bottom: 3px solid;
            }
        }
        .navbar-right{
            
            .fa-solid{
                cursor: pointer;
                margin: auto;
                color: white;
            }
            .btn-login{
                margin:auto;
                margin-left: 10px;
                padding:5px 10px;
                border-radius: 7px;
                font-weight: 500;
                outline: none;
                border: 0;
                background-color: white;
            }
        }
    }
    &.active{
        box-shadow: 1px 1px 1px 1px rgb(210, 205, 205);
        img{
            width:90px;
        }
        .logo{
            display: none;
        }
        .logoBlack{
            display: block; 
        }
        background-color: #fff;
        .nav-link{
            color:black;
        }
        .btn-login{
            background-color: #E8952F !important;
            color:white
        }
        .navbar-right{
            .fa-solid{
                color: black;
            }
        }
    }
}



